  <div id="wrapper">

  	<!--HOME BEGIN -->
  	<section id="home">
      <div id="branding">
        <h6 id="main_header"> hackRU </h6>
      </div>
      <a href="register.html" class="registerBtn registerBtn-1">Sign Up!</a>
  		<h1> October 3 &amp; 4 || College Ave. 
  			Student Center <br>126 College Avenue, New Brunswick, NJ 08901 
  		</h1>     
  		<h4>Interested in sponsoring? Email us at 
  			<a href="mailto:team@hackru.org?Subject=Hello%20HackRu!">team@hackru.org</a>
  		</h4>
  	</section>
  	<!--HOME END -->

  	<!--About BEGIN -->
  	<a name="about"></a>
  	<section id="about">
  		<div class= "container_outer">
  			<div class="container">
  				<h2>The organizing team at HackRU would like to invite you to be a part of the ninth biannual HackRU!</h2>
  				<p>
  					The event is a 24-hour hackathon held every semester at Rutgers University. We are the largest student run educational event on campus and the second oldest student run hackathon. In its 4 years, HackRU has grown from an event of 50 students to boasting over 1000 attendees at this past spring&#39s event. This fall, 800 hackers will come together to envision, create, and demo their own unique application. 
  				</p> 
  				<p> 
  					At the start of the hackathon, our sponsoring companies will present their technologies. Participants will these technologies in your applications to push your hacking up to the cutting edge. Throughout the day, you will be surrounded by mentors from our sponsors and fellow hackers who will help you hack like a battle axe.
  				</p>
  				<p>
  					At the end of 24 hours, a panel of judges will assemble and award awesome prizes.  Everyone will get fed, receive sweet swag, and meet amazing people. We promise you won’t go home hungry and without having gained knowledge.
  				</p>
  			</div>
  		</div>
  	</section>
  	<!--ABOUT END -->


  	<!--FAQ Begin -->
  	<a name="faq"></a>
  	<section id="faq">
  		<div class= "container_outer">
  			<div class= "container">
  				<h1>Got a Question?</h1>

  				<article class= "faq_article">
  					<h2>Who can attend?</h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">All undergraduate students from any university in the world are welcome. Students who do not attend Rutgers University must be 18 years or older or have a waiver signed by a parent or guardian.</p>
  					</div>
  				</article>

  				<article class="faq_article">
  					<h2> How can I register? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">Click on the register button under our logo and fill out your profile to register! Admission is on a rolling basis, so make sure you register ASAP!</p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> How much does it cost? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">The best things in life are free, therefore HackRU is free. Admission grants food, amazing swag, unforgettable memories, and all the free knowledge your brain is able to absorb! </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2>What food will you provide?</h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">We will provide food from the beginning to the end. Everything will be provided by us for you. We&#39ll try our best to accommodate every dietary restriction, please let us know your needs with your profile! We promise you will not go home hungry.</p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> Can I get reimbursed for travel? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">We are currently not reimbursing for travel. </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> How big should teams be? Can I do it alone? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">Teams should be no greater than 4 people. You can absolutely hack alone! It&#39s one of the best ways to get experience, and you'll have many mentors. We will also pair those who want teams at the start of the event.</p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> What should I bring? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">All hackers must bring their valid student ID for admission. For those interested in hacking on hardware, some cool stuff will be provided by Major League Hacking and the Rutger&#39s Maker Space. </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> What should I not bring? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">You should not bring anything you would not bring on an airplane. If you want to bring toothpaste and a tooth brush, that&#39s fine! It&#39s never a bad idea to brush your teeth before you find a comfortable spot to nap. </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> What are the prizes? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">Prizes will be announced at opening ceremonies, past prizes include top of the line gear from Alienware, startup funding, and even a Super Nintendo with a ton of games!</p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> Will you have hardware prototyping equipment? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">There is a limited amount of hardware prototyping gear at each hackathon such as Arduinos or Oculus Rifts. It is provided by MLH and is on a first come first serve basis or the Rutger&#39s Maker Space. Bring your own gear if you&#39ve got some! </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> Where is the schedule? </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">Check-in for HackRU will be from 8AM-10AM on Saturday morning. The opening ceremony will begin at 10AM. HackRU will end around 2:00 pm on Sunday. </p>
  					</div>
  				</article>

  				<article class= "faq_article">
  					<h2> You didn&#39t answer my question! </h2>
  					<div class="box_items">
  						<p class="faq_articleSummary">If you have any questions or concerns regarding HackRU contact us at team@hackru.org. We look forward to hearing from you and can&#39t wait to see you!</p>
  					</div>
  				</article>
  			</div>
  		</div>
  	</section>

  	<!--SPONSORS BEGIN -->
  	<a name="sponsors"></a>
  	<section id="sponsors">
  		<div id="sponsor_banner">
        <h1 id="sponsor_header"> hackRU </h1>
  			<h2> Co-Presented by</h2>
  			<img src="assets/sponsors/morganstanley.png">
  			<h2 id="sponsor_desktop">Is Proudly Sponsored By</h2>
  		</div>
  		<!-- Gold -->
  		<div id="gold">
  			<div class="gold_sponsors"><img  href="" src="assets/sponsors/at&t.png"></div>
  		</div>
  		<!-- Silver -->
  		<div id="silver">
  			<div class="silver_sponsors"><img  href="" src="assets/sponsors/twilio.png"></div>
  			<div class="silver_sponsors"><img  href="" src="assets/sponsors/bloomberg.png"/></div>
  			<div class="silver_sponsors"><img  href="" src="assets/sponsors/epic.png"/></div>
  			<div class="silver_sponsors"><img  href="" src="assets/sponsors/behance.png"/></div>
  		</div>
  		<!-- Bronze -->
  		<div id="bronze">
  			<div class="bronze_sponsors"><img href="" src="assets/sponsors/sendgrid.png"></div>
  			<div class="bronze_sponsors"><img href="" src="assets/sponsors/digitalocean.png"></div>
  			<div class="bronze_sponsors"><img href="" src="assets/sponsors/namecheap.png"></div>
  			<div class="bronze_sponsors"><img href="" src="assets/sponsors/google.png"></div>
  		</div>
  	</section>
  	<!--SPONSORS END -->

  	<!--SCHEDULE BEGIN -->
  	<a name="schedule"></a>
  	<section id="schedule">
  				<h1>Schedule</h1>
  				<p> Check-in for HackRU will be from 8AM-10AM on Saturday morning. <br><br> The opening ceremony will begin at 10AM. <br><br>HackRU will end around 2:00 pm on Sunday.<br><br> Check back later for a detailed schedule! </p>
  	</section>
  	<!--SCHEDULE END -->
  	<a name="team"></a>

<!--TEAM BEGIN -->
    <a name="team"></a>
    <section id="team">
      <div class= "container_outer">
        <div class= "container">
          <h1>Our Team</h1>

          <article class= "team_article">
            <h2>Michelle Chen</h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class="team_article">
            <h2>Aedan Dispenza</h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class= "team_article">
            <h2> Jonathan Risinger </h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class= "team_article">
            <h2>Sakib Jalal</h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class= "team_article">
            <h2> Biggie Emmanuel </h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class= "team_article">
            <h2> Ryan Morey </h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>

          <article class= "team_article">
            <h2> Jungsoo Park </h2>
            <div class="box_items">
              <p class="team_articleSummary">Needs a Picture and Info</p>
            </div>
          </article>
        </div>
      </div>
    </section>
  <!-- TEAM END -->

</div>
