  <div id="wrapper" class="clearfix">

    <!--HOME BEGIN -->
    <section id="home">
      <div id="branding">
        <h6 id="main_header"> hackRU IX </h6>
      </div>
      <a href="register.html" class="registerBtn registerBtn-1">Sign Up!</a> <br>
      <a href="login.html" class="registerBtn registerBtn-1" id="tablet_sign_in_home">Sign In!</a> <br>
      <h1> October 3 &amp; 4 <br>
        Rutgers Student Center <br>
        126 College Avenue <br>
        New Brunswick, NJ
      </h1>
    </section>
    <!--HOME END -->

    <!--About BEGIN -->
    <a name="about"></a>
    <section id="about">
      <div class= "container_outer">
        <h2 id="official">The Official Rutgers Hackathon.</h2>
        <h2 id="official_mobile">The Official <br>Rutgers Hackathon.</h2>
        <div class="container_home">
          <p>
            HackRU is a biannual hackathon at Rutgers University.
          </p>
          <p>
            Sponsors will provide participants (that's you!) with professional mentors, cool sponsor APIs and new technologies to hack with.
          </p>
          <p>
            Judges will award amazing prizes to the coolest hacks. You'll get free food, quality swag and meet awesome people.
          </p>
          <p>
            It's the largest student-run educational event at Rutgers, and the second oldest student-run hackathon in the country. <br><br>
            HackRU started out small, in a room with less than 50 people, and in just four short years it has grown to host over 1000 individuals.
          </p>
          <p>
            Come envision, build and demo your cool and original project!
          </p>
        </div>
      </div>
    </section>
    <!--ABOUT END -->


    <!--FAQ Begin  -->
    <a name="faq"></a>
    <section id="faq">
      <div class= "container_outer">
        <div class= "container_faq">
          <h1>Got a Question?</h1>

          <article class="faq_article">
            <h2>Who can attend?</h2>
            <div class="box_items"> 
              <p class="faq_articleSummary">
                All undergraduate students from any university in the world are welcome. Students who do not attend Rutgers University must be 18 years or older or have a waiver signed by a parent or guardian.
              </p>
            </div>
          </article>

          <article class="faq_article">
            <h2> How can I register? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">Click on the register button under our logo and fill out your profile to register! Admission is on a rolling basis, so make sure you register ASAP!
              </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> How much does it cost? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">The best things in life are free, therefore HackRU is free. Admission grants food, amazing swag, unforgettable memories, and all the free knowledge your brain is able to absorb! </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2>Will there be food?</h2>
            <div class="box_items">
              <p class="faq_articleSummary">We will provide food from the beginning to the end. Everything will be provided by us for you. We&#39ll try our best to accommodate every dietary restriction, please let us know your needs with your profile! We promise you will not go home hungry.</p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> Travel reimbursements? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">We are currently not reimbursing for travel. </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> What about teams? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">Teams should be no greater than 4 people. You can absolutely hack alone! It&#39s one of the best ways to get experience, and you'll have many mentors. We will also pair those who want teams at the start of the event.</p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> What should I bring? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">All hackers must bring their valid student ID for admission. For those interested in hacking on hardware, some cool stuff will be provided by Major League Hacking and the Rutger&#39s Maker Space. </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> What should I not bring? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">You should not bring anything you would not bring on an airplane. If you want to bring toothpaste and a tooth brush, that&#39s fine! It&#39s never a bad idea to brush your teeth before you find a comfortable spot to nap. </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> What are the prizes? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">Prizes will be announced at opening ceremonies, past prizes include top of the line gear from Alienware, startup funding, and even a Super Nintendo with a ton of games!</p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> Will there be hardware? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">There is a limited amount of hardware prototyping gear at each hackathon such as Arduinos or Oculus Rifts. It is provided by MLH and is on a first come first serve basis or the Rutger&#39s Maker Space. Bring your own gear if you&#39ve got some! </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> Where is the schedule? </h2>
            <div class="box_items">
              <p class="faq_articleSummary">Check-in for HackRU will be from 8AM-10AM on Saturday morning. The opening ceremony will begin at 10AM. HackRU will end around 2:00 pm on Sunday. </p>
            </div>
          </article>

          <article class= "faq_article">
            <h2> I have another question!</h2>
            <div class="box_items">
              <p class="faq_articleSummary">If you have any questions or concerns regarding HackRU contact us at team@hackru.org. We look forward to hearing from you and can&#39t wait to see you!</p>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!--FAQ Mobile  -->
    <ul id="faq_mobile">
      <div id="swag">
      <h1>Got a Question?</h1>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Who can attend?</h2>
        <p>
          All undergraduate students from any university in the world are welcome. Students who do not attend Rutgers University must be 18 years or older or have a waiver signed by a parent or guardian.
        </p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>How can I register?</h2>
        <p>Click on the register button under our logo and fill out your profile to register! Admission is on a rolling basis, so make sure you register ASAP!</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>How much does it cost?</h2>
        <p>The best things in life are free, therefore HackRU is free. Admission grants food, amazing swag, unforgettable memories, and all the free knowledge your brain is able to absorb!</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Will there be food?</h2>
        <p>We will provide food from the beginning to the end. Everything will be provided by us for you. We&#39ll try our best to accommodate every dietary restriction, please let us know your needs with your profile! We promise you will not go home hungry.</p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Travel reimbursements?</h2>
        <p>We are currently not reimbursing for travel.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>What about teams?</h2>
        <p>Teams should be no greater than 4 people. You can absolutely hack alone! It's one of the best ways to get experience, and you'll have many mentors. We will also pair those who want teams at the start of the event.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>What should I bring?</h2>
        <p>All hackers must bring their valid student ID for admission. For those interested in hacking on hardware, some cool stuff will be provided by Major League Hacking and the Rutger's Maker Space.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>What should I not bring?</h2>
        <p>You should not bring anything you would not bring on an airplane. If you want to bring toothpaste and a tooth brush, that's fine! It's never a bad idea to brush your teeth before you find a comfortable spot to nap.</p>
      </li>
 
       <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>What are the prizes?</h2>
        <p>Prizes will be announced at opening ceremonies, past prizes include top of the line gear from Alienware, startup funding, and even a Super Nintendo with a ton of games!</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Will there be hardware?</h2>
        <p>There is a limited amount of hardware prototyping gear at each hackathon such as Arduinos or Oculus Rifts. It is provided by MLH and is on a first come first serve basis or the Rutger's Maker Space. Bring your own gear if you've got some!</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Where is the schedule?</h2>
        <p>Check-in for HackRU will be from 8AM-10AM on Saturday morning. The opening ceremony will begin at 10AM. HackRU will end around 2:00 pm on Sunday.</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>I have another question!</h2>
        <p>If you have any questions or concerns regarding HackRU contact us at team@hackru.org. We look forward to hearing from you and can't wait to see you!</p>
      </li>
    </div>
    </ul>

    <!--FAQ Mobile End  -->

    <!--SPONSORS BEGIN -->
    <a name="sponsors"></a>
    <section id="sponsors" class="container">
      <div id="sponsor_banner">
        <h1 id="hackru_sponsor" > hackRU </h1>
        <h2> co-presented by</h2>
          <a href="http://www.morganstanley.com" target="_blank">
            <img id="morgan_stanley" src="assets/sponsors/morganstanley.png"/>
          </a>
        <h2 id="sponsor_desktop">proudly sponsored by</h2>
      </div>
      <!-- Gold -->
      <div id="gold">
        <a href="http://www.att.com" target="_blank">
          <div class="gold_sponsors"><img src="assets/sponsors/at&t.png"></div>
        </a>
      </div>
      <!-- Silver -->
      <div id="silver">
        <a href="https://www.twilio.com" target="_blank">
          <div class="silver_sponsors"><img href="https://www.twilio.com" src="assets/sponsors/twilio.png"></div>
        </a>
        <a href="http://www.bloomberg.com" target="_blank">
          <div class="silver_sponsors"><img href="http://www.bloomberg.com" src="assets/sponsors/bloomberg.png"/></div>
        </a>
        <a href="http://www.epic.com" target="_blank">
          <div class="silver_sponsors"><img href="http://www.epic.com" src="assets/sponsors/epic.png"/></div>
        </a>
        <a href="https://www.behance.net" target="_blank">
          <div class="silver_sponsors"><img href="https://www.behance.net" src="assets/sponsors/behance.png"/></div>
        </a>
      </div>
      <!-- Bronze -->
      <div id="bronze">
        <a href="https://www.digitalocean.com" target="_blank">
          <div class="bronze_sponsors"><img src="assets/sponsors/digitalocean.png"></div>
        </a>
        <a href="https://www.namecheap.com" target="_blank">
          <div class="bronze_sponsors"><img src="assets/sponsors/namecheap.png"></div>
        </a>
        <a href="https://www.sendgrid.com" target="_blank">
          <div class="bronze_sponsors"><img src="assets/sponsors/sendgrid.png"></div>
        </a>
        <a href="https://www.google.com" target="_blank">
          <div class="bronze_sponsors"><img src="assets/sponsors/google.png"></div>
        </a>
      </div>
      <h4 id="sponsor_official">Interested in sponsoring? <br>Email us at 
        <a href="mailto:team@hackru.org?Subject=Hello%20HackRu!">team@hackru.org</a>!
      </h4>
      <h4 id="sponsor_official_mobile">Interested in sponsoring? <br>Email 
        <a href="mailto:team@hackru.org?Subject=Hello%20HackRu!">team@hackru.org</a>!
      </h4>
    </section>
    <!--SPONSORS END -->

    <!--SCHEDULE BEGIN -->
    <a name="schedule"></a>
    <section id="schedule">
      <h1>Schedule</h1>
      <p id="schedule_official"> Check-in for HackRU will be from 8AM-10AM on Saturday morning. <br><br> The opening ceremony will begin at 10AM. <br><br>HackRU will end around 2:00 pm on Sunday.<br><br> Check back later for a detailed schedule! </p>
      <p id="schedule_mobile"> Check-in for HackRU will be from 8AM-10AM on Saturday morning. <br><br> The opening ceremony <br>will begin at 10AM. <br><br>HackRU will end around <br>2:00 pm on Sunday.<br><br> Check back later for <br> a detailed schedule! </p>
    </section>
    <!--SCHEDULE END -->
    <a name="team"></a>

    <!--TEAM BEGIN -->
    <a name="team"></a>
    <section id="team">
      <div class= "container_outer">
        <div class= "container">
          <h1 id="team_header">Our Team</h1>

          <article class= "team_article">
            <img src="assets/pics/michelle.jpg" class="circular"/>
            <h2 id="name_official">Michelle Chen</h2>
            <h2 id="name_mobile">Michelle
              <!--br><a href="http://github.com/michipster">@michipster</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">Hackathon Director</p>

            </div>
          </article>

          <article class="team_article">
            <img src="assets/pics/jon.jpg" class="circular"/>
            <h2 id="name_official">Jonathan Risinger</h2>
            <h2 id="name_mobile">Jonathan
              <!--br><a href="http://github.com/JMRisinger">@JMRisinger</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">Web Developer</p>
            </div>
          </article>

          <article class= "team_article">
            <img src="assets/pics/aedan.jpg" class="circular"/>
            <h2 id="name_official">Aedan Dispenza</h2>
            <h2 id="name_mobile">Aedan
              <!--br><a href="http://github.com/adispen">@adispen</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">IT Captain</p>
            </div>
          </article>

        </div> <!-- closes first container -->

        <div class="container_faq">

          <article class= "team_article">
            <img src="assets/pics/sakib.jpg" class="circular"/>
            <h2 id="name_official">Sakib Jalal</h2>
            <h2 id="name_mobile">Sakib
              <!--br><a href="http://github.com/sakibj">@sakibj</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">Finance Captain</p>
            </div>
          </article>

          <article class= "team_article">
            <img src="assets/pics/jungsoo.jpg" class="circular"/>
            <h2 id="name_official">Jungsoo Park</h2>
            <h2 id="name_mobile">Jungsoo
              <!--br><a href="http://github.com/jungsoo">@jungsoo</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">The Dude</p>
            </div>
          </article>

          <article class= "team_article">
            <img src="assets/pics/ryan.jpg" class="circular"/>
            <h2 id="name_official">Ryan Morey</h2>
            <h2 id="name_mobile">Ryan
              <!--br><a href="http://github.com/rmorey">@rmorey</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">Education Captain</p>
            </div>
          </article>

          <article class= "team_article_mobile"></article>

          <article class= "team_article">
            <img src="assets/pics/biggie.jpg" class="circular"/>
            <h2 id="name_official">Biggie Emmanuel</h2>
            <h2 id="name_mobile">Biggie
              <!--br><a href="http://github.com/biggie">@biggie</a-->
            </h2>
            <div class="box_items">
              <p class="team_articleSummary">Education Captain</p>
            </div>
          </article>

        </div>
      </div>
    </section>
    <!-- TEAM END -->

    <!-- MAP BEGIN -->
    <a name="location" ></a>
    <section id="location">
      <div class="container_outer">
        <div class="container_location">
          <h6 id="location_header"> Location </h6>
          <div>
            <div id="command_container">
              <iframe id="google_map" frameborder="0" height="425" src=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.755630464289!2d-74.45196370000001!3d40.50278650000001!2m3!1f0!2f0!3f0!3m2!li1024!2i768!4f13.1!3m3!1m2!1s0x89c3c6555ac2d7f7%3A0x8820e7c83ea74250!2sRutgers+Student+Center!5e0!3m2!1sen!2sus!4v1440101044273" style="border:0" width="550">
              </iframe>

              <div id="location_address">
                <p class="location_info"> Rutgers Student Center <br><br> College Avenue </p>
              </div>

              <div class="location_img_row">
                <a data-featherlight="image" href="http://studentcenters.rutgers.edu/" target="_blank">
                  <img class="location_img" alt="RUSC1" src="http://www.eden.rutgers.edu/~webauthb/team_two/images/cac/rsc.gif">
                </a>
                <a data-featherlight="image" href="http://rumaps.rutgers.edu/location/college-avenue-student-center" target="_blank">
                  <img class="location_img" alt="RUSC3" src="http://i.imgur.com/6cKkeWB.jpg">
                </a>
              </div>

              <div class="location_img_row" >
                <a data-featherlight="image" href="http://studentcenters.rutgers.edu/" target="_blank">
                  <img class="location_img" alt="RUSC2" src="http://www.campusexplorer.com/media/560x420/Rutgers-University-Camden-53D37A45.jpg">
                </a>
                <a data-featherlight="image" href="http://rumaps.rutgers.edu/location/college-avenue-student-center" target="_blank">
                  <img class="location_img" alt="RUSC4" src="http://imgick.nj.com/home/njo-media/width620/img/new_jersey_education/photo/rutgers-campus-student-centerjpg-2f008e74969a4e66.jpg">
                </a>
              </div>

              <p id="location_address">126 College Ave <br><br>New Brunswick, NJ 08901</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- MAP END -->



  </div>
